@media screen and (min-width: 720px){
    .title{
        color: white;
        text-align: center;
        padding: 18rem 2%;
    }

    .title i{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background: rgb(226, 108, 207);
        border: .35rem solid rgb(187, 65, 181);
    
        line-height: 15rem;
        text-align: center;
    
        font-size: 8rem;
        color: var(--color-rocket);
    }
    
    .title h1{
        margin-top: 2rem;
        font-size: 5rem;
    }
    
    .title p{
        margin: 2rem 0;
        font-size: 2.2rem;
        color: rgba(255, 255, 255, 0.74);
    }


    nav.desktop,
    .title-desktop{
        display: block;
    }
    
    nav.mobile{
        display: none;
    }
 
    nav.desktop ul{
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        z-index: 999;
        max-width: 95%;
        border-radius: 2rem 2rem  0 0;
        background-color: rgb(255, 255, 255);
        list-style-type: none;
        list-style-position: inside;
        border-bottom: .2rem solid rgba(165, 159, 159, 0.5);
    }
    
    nav.desktop ul li{
        position: relative;
        line-height: 2rem;
        width: 100%;
        padding: 2rem 0;
        transition: .5s;
    }

    nav.desktop ul li span.select {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to left, #12e69f85, #9a0fdb93, #f59797a1);
        width: 100%;
        padding-top: .5rem;
        display: block;
    }

    nav.desktop ul li:nth-of-type(1){
        border-radius: 2rem 0  0 0;
    }

    nav.desktop ul li:nth-of-type(5){
        border-radius: 0 2rem 0 0;
    }
    
    nav.desktop ul li:hover{
        background-color: rgba(71, 67, 67, 0.801);
    }
    
    nav.desktop ul li a{
        font-size: 1.5rem;
        color: black;
        transition: .3s;
    }  

    nav ul li a:hover{
        color: white;
    }  

    section.intro{
        border-radius:  0;
    }

    section.last{
        text-align: center;
        
    }

    .contacts-info{
        justify-content: center;
    }

    section.second{
        margin-top: -1.3rem;
    }

    aside.second-content{
        text-align: center;
    }

    .second-title{
        margin-bottom: 4rem;
    }

    .second-title h1{
        font-size: 2.2rem;
        color: rgb(170, 159, 159);
        padding-bottom: 2rem;
    }

    .second-title p{
        font-size: 1.5rem;
        color: var(--color-font-secondary);
        padding: 0 4rem;
    }

    .second-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .second-grid-box{
        margin: 0 auto;
        max-width: 35rem;
        height: 20rem;
    }

    .second-grid-box:nth-of-type(1){
        border-radius: 2rem 2rem 0 0;
        background: var(--color-background-branch);
    }

    .second-grid-box:nth-of-type(2){
        background: var(--color-background-folder);
    }

    .second-grid-box:nth-of-type(3){
        background: var(--color-background-signal);
    }

    .second-grid-box:nth-of-type(4){
        background: var(--color-background-laptop);
    }

    .second-grid-box:nth-of-type(5){
        border-radius: 0 0 2rem 2rem;
        background: var(--color-background-gem);
    }

    .second-grid-content{
        position: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }
}